/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #dc3545;
  --dark-color: #333;
  --light-color: #f4f4f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  background-color: #fff;
  line-height: 1.6;
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;

  &:hover {
    color: #666;
  }
}

button {
  display: flex;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  transition: opacity .2s;

  &:hover:not(:disabled) {
    opacity: .7;
  }
}

ul {
  list-style: none;
}

input {
  display: block;
  width: 100%;
  padding: .4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  margin-bottom: .5rem;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  overflow: hidden;
  padding-left: 2rem;
  padding-right: 2rem;
}

table th {
  background-color: var(--light-color);
}

.btn {
  background-color: var(--light-color);
  color: #333;
  padding: .4rem 1.3rem;
  font-size: 1rem;
  cursor: pointer;
  margin-right: .5rem;

  &:disabled {
    background-color: var(--dark-color);
    color: #fff;
    cursor: not-allowed;
  }
}

.btn-primary {
  background-color: var(--primary-color);
  color: #fff;
}

.text-center {
  text-align: center;
}
